@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;1,300&family=DM+Sans:wght@300;400;500&display=swap');

.main_section{
    display: flex;
    flex-direction: column;
    gap: 10em;
    max-width: 1100px;          
    margin: 0 auto;             
    align-items: center;
}

.intro,
.hiw{
    display: flex;
    gap: 3em;
    width: 100%;
    align-items: stretch;      
    justify-content: center;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.intro.show,
.hiw.show{
    opacity: 1;
    transform: translateY(0);
}

/* Fixed widths for text blocks */
.intro_text,
.hiw_text{
    font-family: "DM Sans", sans-serif;
    flex: 1;
    min-width: 0;
    font-weight: 200;
    font-size: 1.3em;
    padding: 12px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.intro_text h1,
.hiw_text h1{
    font-family: 'Cormorant Garamond';
    font-weight: bold;
}

.intro_vid,
.hiw_vid {
    flex: 1;
    min-width: 0;
    overflow: hidden;
}

.intro_vid img,
.hiw_vid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px;
}

.hiw_panels{
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    min-width: 0;
    gap: 0.5em;
}

.desc img{
    width: 80px;              /* control icon size */
    height: 80px;
    object-fit: contain;
}

.desc p{
    font-family: "DM Sans", sans-serif;
    font-size: 1em;
}

.built_with{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.built_with h1{
    font-family: 'Cormorant Garamond';
    font-weight: bold;
}

.built_with div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 5em;
    
}

.built_with img {
     width: 200px;              /* control icon size */
    height: 200px;
    object-fit: contain;
}